.search--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    gap: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.search--options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 800px;
    gap: 15px;
    flex-shrink: 0;
    padding: 10px 0;
}

.search--option {
    border: 1px solid rgb(0, 0, 12);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 10px;
    padding: 10px 10px;
}

.search--input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 8px;
    justify-content: center;
}

.search-video {
    height: inherit;
    margin: 0px 5px;
}